<ion-header>
  <ion-toolbar>
    <ion-title>Ads</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngFor = "let i of ads">
    <ion-col>
      <ion-card>
        <ion-card-header>
          <p style="font-size: larger;font-weight:bold;font-family: 'Times New Roman', Times, serif;">{{i.item.title}}</p>
          <ion-slides scrollbar = true >
            <ion-slide *ngFor = "let img of i.item.image">
              <img src="{{img}}">
            </ion-slide>
            <!-- <ion-slide>
              <img src="assets/host-4.png">
            </ion-slide> -->
          </ion-slides>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
             <ion-col>
            <p style="font-size: larger;font-weight: bold;">Price:{{i.item.price}}</p>
             </ion-col>
             <ion-col>
            <ion-button size = "small" style="float: right;" (click) = "gotoDetails(i.key)">Details</ion-button>
             </ion-col>  
          </ion-row>    
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
