ion-card {
    border-radius: 10px;
}
// ion-button {
//     --background:rgb(53,87,208);
//     --color : white;
// }
img {
    height: 155px;
}
.setBottom {
    position: absolute;
    bottom: 0;
}
ion-toolbar {
    --background:rgb(53,87,208);
    --color : white;
}