ion-icon {
    color : rgb(53, 87, 208);
}
ion-toolbar ion-item{
    --background : rgb(53, 87, 208);
}
ion-toolbar {
    --background : rgb(53,87,208)
}

ion-header ion-item {
    --background : rgb(53, 87, 208);
}
ion-avatar{
    width: 80px;
    height: 80px; 
}
ion-label {
    --color : white;
}