<!-- <ion-header>
  <ion-toolbar>
    <ion-title>get-started</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/host-41.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
       <ion-chip>
        <img src="assets/fb-logo.png" style="height: 3vh; margin-left: 10px;margin-right: 45px;">
        <ion-label>Login With Facebook</ion-label>
       </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
       <ion-chip>
        <img src="assets/google-logo.png" style="height: 3vh; margin-left: 10px;margin-right: 45px;">
        <ion-label>Login With Google</ion-label>
       </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
       <ion-chip style="background-color: rgb(231, 159, 24); color: white;">
        <ion-label style="margin:0 auto;">Get Started</ion-label>
       </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <p class="ion-text-center" style="color: white;font-weight:30; font-size: smaller">By continuing you agee that you have read and accept our </p>
       <p class="ion-text-center" style="color: white;font-weight:30;font-size: smaller;"> <u>Terms Of Services </u>and <u>Privacy Policy </u></p>
      </ion-col>
    </ion-row>
 </ion-grid>
</ion-content>
