ion-content {
    --background : rgb(44, 44, 179);
}

// ion-card {
//     --background: white;
//     height: 100%;
// }
.setCard{
 border-radius: 50px 50px 0px 0px;
 height: 50vh;
}
.setClass {
    border-radius: 10px;
    height: 25vh;
    border: 3px solid rgb(44, 44, 179);;


}