ion-icon {
    color : rgb(53, 87, 208);
    font-size: 24px;
}

ion-card {
    border : 1px solid rgb(53, 87, 208);
    border-radius: 40px;
}
ion-toolbar {
    --background:rgb(53, 87, 208);
    --color:white;
}
// ion-card-content {
//     background:rgb(192, 192, 192);
// }