<ion-header>
  <ion-toolbar>
    <ion-select class="ion-text-center" placeholder="Select City" [(ngModel)] = "city" [interfaceOptions]="customAlertOptions" interface="alert"> 
      <ion-select-option value="Alice" >Alice</ion-select-option> 
      <ion-select-option value="Butterworth">Butterworth</ion-select-option> 
      <ion-select-option value="East London">East London</ion-select-option> 
      <ion-select-option value="Graaff-Reinet">Graaff-Reinet</ion-select-option> 
      <ion-select-option value="Grahamstown">Grahamstown</ion-select-option> 
      <ion-select-option value="King William’s Town" >King William’s Town</ion-select-option> 
      <ion-select-option value="Mthatha">Mthatha</ion-select-option> 
      <ion-select-option value="Port Elizabeth" >Port Elizabeth</ion-select-option> 
      <ion-select-option value="Queenstown">Queenstown</ion-select-option> 
      <ion-select-option value="Uitenhage">Uitenhage</ion-select-option> 
      <ion-select-option value="Zwelitsha">Zwelitsha</ion-select-option> 
      <ion-select-option value="Bethlehem">Bethlehem</ion-select-option> 
      <ion-select-option value="Jagersfontein">Jagersfontein</ion-select-option> 
      <ion-select-option value="Kroonstad">Kroonstad</ion-select-option>
      <ion-select-option value="Parys">Parys</ion-select-option>
      <ion-select-option value="Phuthaditjhaba">Phuthaditjhaba</ion-select-option>
      <ion-select-option value="Virginia">Virginia</ion-select-option>
      <ion-select-option value="Welkom">Welkom</ion-select-option>
      <ion-select-option value="Benoni">Benoni</ion-select-option>
      <ion-select-option value="Boksburg">Boksburg</ion-select-option>
      <ion-select-option value="Brakpan">Brakpan</ion-select-option>
      <ion-select-option value="Carletonville">Carletonville</ion-select-option>
      <ion-select-option value="Germiston">Germiston</ion-select-option>
      <ion-select-option value="Johannesburg">Johannesburg</ion-select-option>
      <ion-select-option value="Krugersdorp">Krugersdorp</ion-select-option>
      <ion-select-option value="Pretoria">Pretoria</ion-select-option>
      <ion-select-option value="Randburg">Randburg</ion-select-option>
      <ion-select-option value="Randfontein">Randfontein</ion-select-option>
      <ion-select-option value="Roodepoort">Roodepoort</ion-select-option>
      <ion-select-option value="Soweto">Soweto</ion-select-option>
      <ion-select-option value="Springs">Springs</ion-select-option>
      <ion-select-option value="Vanderbijlpark">Vanderbijlpark</ion-select-option>
      <ion-select-option value="Vereeniging">Vereeniging</ion-select-option>
      <ion-select-option value="Durban">Durban</ion-select-option>
      <ion-select-option value="Empangeni">Empangeni</ion-select-option>
      <ion-select-option value="Ladysmith">Ladysmith</ion-select-option>
      <ion-select-option value="Newcastle">Newcastle</ion-select-option>
      <ion-select-option value="Pietermaritzburg">Pietermaritzburg</ion-select-option>
      <ion-select-option value="Pinetown">Pinetown</ion-select-option>
      <ion-select-option value="Ulundi">Ulundi</ion-select-option>
      <ion-select-option value="Umlazi">Umlazi</ion-select-option>
      <ion-select-option value="Giyani">Giyani</ion-select-option>
      <ion-select-option value="Lebowakgomo">Lebowakgomo</ion-select-option>
      <ion-select-option value="Musina">Musina</ion-select-option>
      <ion-select-option value="Phalaborwa">Phalaborwa</ion-select-option>
      <ion-select-option value="Polokwane">Polokwane</ion-select-option>
      <ion-select-option value="Seshego">Seshego</ion-select-option>
      <ion-select-option value="Sibasa">Sibasa</ion-select-option>
      <ion-select-option value="Thabazimbi">Thabazimbi</ion-select-option>
      <ion-select-option value="Emalahleni">Emalahleni</ion-select-option>
      <ion-select-option value="Nelspruit">Nelspruit</ion-select-option>
      <ion-select-option value="Secunda">Secunda</ion-select-option>
      <ion-select-option value="Klerksdorp">Klerksdorp</ion-select-option>
      <ion-select-option value="Mahikeng">Mahikeng</ion-select-option>
      <ion-select-option value="Mmabatho">Mmabatho</ion-select-option>
      <ion-select-option value="Potchefstroom">Potchefstroom</ion-select-option>
      <ion-select-option value="Rustenburg">Rustenburg</ion-select-option>
      <ion-select-option value="Kimberley">Kimberley</ion-select-option>
      <ion-select-option value="Kuruman">Kuruman</ion-select-option>
      <ion-select-option value="Port Nolloth">Port Nolloth</ion-select-option>
      <ion-select-option value="Bellville">Bellville</ion-select-option>
      <ion-select-option value="Cape Town">Cape Town</ion-select-option>
      <ion-select-option value="Constantia">Constantia</ion-select-option>
      <ion-select-option value="George">George</ion-select-option>
      <ion-select-option value="Hopefield">Hopefield</ion-select-option>
      <ion-select-option value="Oudtshoorn">Oudtshoorn</ion-select-option>
      <ion-select-option value="Paarl">Paarl</ion-select-option>
      <ion-select-option value="Simon’s Town">Simon’s Town</ion-select-option>
      <ion-select-option value="Stellenbosch">Stellenbosch</ion-select-option>
      <ion-select-option value="Swellendam">Swellendam</ion-select-option>
      <ion-select-option value="Worcester">Worcester</ion-select-option>
    </ion-select>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
    <ion-searchbar></ion-searchbar>
    <!-- <div *ngIf = "serviceProviders.length == 0">
      <h1>Currently no service provider available</h1>
  </div> -->
     <ion-row *ngFor = "let i of serviceProviders">
       <ion-col>
         <ion-card style="margin:0;padding: 0;" *ngIf = "i.item.city == city">
          <ion-card-header style="margin:0;padding: 0;">
                 <ion-row>
                   <ion-col size = "12">
                <ion-item lines =none style="margin:0;padding: 0;">
                <ion-avatar slot="start" style="margin-left: 0;">
                  <img src="{{i.item.profile}}" style="margin-left: 0;">
                </ion-avatar>
                   <ion-label>
                    <p style="font-size: large;font-family: 'Times New Roman', Times, serif;font-weight: 500;">{{i.item.fullName}}</p>
                   </ion-label>
                   <div class="ion-text-right">
                    <ion-icon style="margin-right: 13px;" name="image-outline" (click) = "gotoGallery(i.item.userId)"></ion-icon>
                     <a href="tel:{{i.item.mobileNo}}"><ion-icon style="margin-right: 10px;" name="call"></ion-icon> </a> 
                      <ion-icon (click) = "gotoChat(i.key)" name="chatbox-ellipses"></ion-icon>
                   </div>
                </ion-item>
                </ion-col>
                </ion-row>
          </ion-card-header>
          <ion-card-content style="margin-top: 7px;" (click) = "gotoAds(i.item.userId)">
            <!-- <ion-item lines = none> -->
             <p style="font-size:large;font-weight:bold;font-family: 'Times New Roman', Times, serif;"><em style="margin-right: 17px;font-size:large;font-weight: bold">Company:</em> <em></em> <em>{{i.item.companyName}} </em></p>
             <p style="font-size:large;font-weight:bold;font-family: 'Times New Roman', Times, serif;"><em style="margin-right: 17px;font-size:large;font-weight: bold;">Email: </em> <em>{{i.item.email}} </em></p>
             <p style="font-size:large;font-weight:bold;font-family: 'Times New Roman', Times, serif;"><em style="margin-right: 17px;font-size:large;font-weight: bold;">Service Type: </em> <em>{{i.item.serviceType}}</em></p>
             <!-- </ion-item> -->
          </ion-card-content>
         </ion-card>
         <ng-template #notFound>
              
            <p>No Service provider in your area</p>
         </ng-template>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
